    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    .container {
        max-width: 1146px;
        margin: auto;
    }
    
    body {
        font-family: 'Roboto', sans-serif;
    }
    
    main {
        padding-top: 57px;
        padding-bottom: 62px;
    }
    
    header {
        background-image: url(./images/logo.jpg);
        background-size: cover;
        padding-top: 120px;
        padding-bottom: 138px;
    }
    
    h1 {
        margin-bottom: 27px;
        color: rgba(0, 51, 149, 1);
        font-weight: 500;
    }
    
    .head {
        color: rgba(0, 0, 0, 1);
        font-weight: 700;
    }
    
    nav {
        background-color: rgba(0, 51, 149, 1);
        padding-top: 27px;
        padding-bottom: 26px;
    }
    
    nav a {
        margin-right: 62px;
        text-decoration: none;
        color: white;
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 208%;
    }
    
    .left {
        display: inline-block;
        width: 754px;
        vertical-align: top;
    }
    
    .right {
        display: inline-block;
        width: 362px;
        vertical-align: top;
        margin-left: 26px;
    }
    
    .one {
        border: solid 2px rgba(51, 0, 141, 1);
        padding: 19px 19px 26px 19px;
        margin-bottom: 56px;
    }
    
    .two {
        border: solid 2px rgba(51, 0, 141, 1);
        padding: 19px 19px 26px 19px;
    }
    
    h3 {
        padding: 14px;
        background-color: rgba(36, 176, 255, 1);
        color: rgba(255, 255, 255, 1);
        font-weight: 700;
    }
    
    ul {
        list-style: none;
    }
    
    h2 {
        padding-top: 13px;
        padding-bottom: 15px;
        border-top: solid 2px rgba(0, 51, 149, 1);
        border-bottom: solid 2px rgba(0, 51, 149, 1);
        color: rgba(0, 51, 149, 1);
        font-weight: 700;
    }
    
    p {
        color: rgba(48, 35, 61, 1);
    }
    
    .one p {
        font-weight: 400;
        line-height: 163.3%;
    }
    
    .two ul {
        font-weight: 400;
        color: rgba(48, 35, 61, 1);
        line-height: 163.3%;
        padding-top: 6px;
    }
    
    footer {
        padding-top: 45px;
        padding-bottom: 83px;
        background: linear-gradient(180deg, #003395 0%, #00205F 100%);
    }
    
    footer p {
        text-align: right;
        color: rgba(252, 252, 252, 1);
    }
    
    .left p a {
        color: rgba(0, 51, 149, 1);
    }
    
    .left p {
        font-weight: 400;
        padding-top: 16px;
        padding-bottom: 34px;
    }